~/.config/niri/zenkai.kdl ::
layout {
  gaps {{ spacing }}
  focus-ring {
    width {{ thickness }}
    active-color "{{ accent }}"
    inactive-color "{{ bg }}"
  }
}

window-rule {
  geometry-corner-radius {{ rounding }}
  clip-to-geometry true
}
