@import "zenkai.css";

* {
  font-size: 12;
  font-family: NotoSans Nerd Font Propo;
  font-weight: bolder;
  min-height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.modules-left,
.modules-right,
.modules-center {
  background: @c0;
  padding: 4;
}

.modules-center {
  padding: 8 4;
}

window#waybar {
  background: @bg0;
  color: @fg;
}

@keyframes to-non-active {
  from {
    padding: 10 0;
  }
  to {
    padding: 0 0;
  }
}

@keyframes to-active {
  from {
    padding: 0 0;
  }
  to {
    padding: 10 0;
  }
}

#workspaces button {
  color: @fg;
  animation-name: to-non-active;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

#workspaces button.active {
  background: @fg;
  padding: 10 0;
  border-radius: 20;
  animation-name: to-active;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button:hover,
#clock:hover,
#bluetooth:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover {
  transition-duration: .4s;
  background: @bg_selection;
  color: @fg_selection;
}

tooltip {
  background: @bg0;
}

tooltip label {
  color: @fg;
}

